.updateStockContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 95%;
  padding: 1rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: gray 0.2px 0px 2px 0px;
}
.updateStockContainer p {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5%;
}

.updateStockContainer button {
  width: 20%;
  height: 2rem;
  border-radius: 7px;
  border: none;
  box-shadow: gray 0.2px 0px 2px 0px;
  margin-right: 5%;
  background: linear-gradient(to bottom right, #00c8ff, #384295);

  color: white;
  font-size: 16px;
  cursor: pointer;
}
